body {
    display: flex;
    flex-direction: column;
}
header {
    height: 500px;
    width: 100%;
}
Main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
Main .div article {
    flex: 2;
    overflow-y: auto;
}
Main .div article {
    flex: 2;
    overflow-y: auto;
}
Main .div aside {
    flex: 1;
    overflow-y: auto;
}