body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
header {
    background-color: rgb(194, 162, 223);
}
header ul li a {
    color: aliceblue;
}
article {
    flex: 2;
    overflow-y: auto;
}
article div table, th, td {
    border: 1px solid black
    
}
aside {
    flex: 1;
    overflow-y: auto;
    background-color: rgb(243, 240, 246);
}
footer {
    background-color: rgb(194, 162, 223);
}
footer p {
    color: aliceblue; 
}
footer a {
    color: rgb(75, 9, 9);
}
